/* color palette (color-blind friendly)
blue: #0077BB / 0,119,187 
cyan: #33BBEE / 51, 187, 238
teal: #009988 / 0, 153, 136
orange: #EE7733 / 238, 119, 51
red: #CC3311 / 204, 51, 17
magenta: #EE3377 / 238, 51, 119
grey: #BBBBBB / 187, 187, 187
ingido: #332288 / 51, 34, 136 
 */

/* TODO: CREATE grid layout of whole  */
/* .body-container{
 display: grid;
 grid-template-areas: ;
} */
body {
  display: grid;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
/* ************************************************** */
/* NAVIGATION */
/* ************************************************** */
header {
  background-color: #332288;
}
.navbar-links {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5%;
}
.navbar-link a {
  color: #ee3377;
  text-decoration: none;
}

/* ************************************************** */
/* MAIN */
/* ************************************************** */
main {
  display: grid;
}
.main-title {
  color: #332288;
  display: flex;
  justify-content: center;
}

.btn-container {
  display: flex;
  justify-content: center;
}
.start-btn {
  /* grid-area: ; */
  font-size: 36px;
  border-color: #332288;
  background-color: #332288;
  color: white;
}

/* ************************************************** */
/* ************** Desktop media query *************** */
/* ************************************************** */
@media screen and (min-width: 590px) {
  /* NAVIGATION */
  .navbar-links {
    /* justify-content: flex-start; */
  }
  .navbar-link:hover {
    color: #ee7733;
  }
  /* MAIN */
  .start-btn:hover {
    background-color: #ee3377;
  }
}
/* ************************************************** */
/* ************** Tablet media query *************** */
/* ************************************************** */
