/* color palette (color-blind friendly)
blue: #0077BB / 0,119,187 
cyan: #33BBEE / 51, 187, 238
teal: #009988 / 0, 153, 136
orange: #EE7733 / 238, 119, 51
red: #CC3311 / 204, 51, 17
magenta: #EE3377 / 238, 51, 119
grey: #BBBBBB / 187, 187, 187
ingido: #332288 / 51, 34, 136 
 */

/* TODO: CREATE grid layout of whole  */
/* .body-container{
 display: grid;
 grid-template-areas: ;
} */

/* GLOBAL STYLES */

body {
  display: grid;
  grid-template-areas:
    'header header header'
    'main main main'
    'footer footer footer';
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.hidden {
  display: none;
}

/* ************************************************** */
/* NAVIGATION */
/* ************************************************** */
header {
  background-color: #332288;
  grid-area: header;
}
.navbar-links {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5%;
}
.navbar-link a {
  color: #ee3377;
  text-decoration: none;
}

/* ************************************************** */
/* MAIN */
/* ************************************************** */
main {
  display: grid;
  grid-area: main;
  background-color: #009988;
}
.main-title {
  color: #332288;
  display: flex;
  justify-content: center;
}

.start-container {
  display: flex;
  justify-content: center;
}
.start-link {
  /* grid-area: ; */
  font-size: 36px;
  border-color: #332288;
  background-color: #332288;
  color: #ee3377;
  text-decoration: none;
}

/* ++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* ************** Cards Template *************** */
/* ++++++++++++++++++++++++++++++++++++++++++++++++++ */
.btn-container {
  display: flex;
}
.previous-btn,
.next-btn {
  display: flex;
}

/* ************************************************** */
/* ************** Footer *************** */
/* ************************************************** */
footer {
  grid-area: footer;
  background-color: #332288;
  color: #ee3377;
}

/* ************************************************** */
/* ************** Desktop media query *************** */
/* ************************************************** */
@media screen and (min-width: 590px) {
  /* NAVIGATION */
  .navbar-links {
    /* justify-content: flex-start; */
  }
  .navbar-link:hover {
    color: #009988;
  }
  /* MAIN */
  .start-link:hover {
    background-color: #ee3377;
    color: #332288;
  }
}
/* ************************************************** */
/* ************** Tablet media query *************** */
/* ************************************************** */
